{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "banner.html" . }}

{{ partial "quote.html" . }}

{{ partial "about-silubra.html" . }}

{{ partial "service.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "contact-us.html" . }}

<!-- {{ partial "map.html" . }} -->

<!-- {{ partial "blog.html" . }} -->

<!-- {{ partial "feature.html" . }} -->

<!-- {{ partial "about.html" . }} -->

<!-- {{ partial "cta.html" . }} -->

<!-- {{ partial "skill.html" . }} -->

<!-- {{ partial "portfolio.html" . }} -->

<!-- {{ partial "funfacts.html" . }} -->

<!-- {{ partial "team.html" . }} -->

<!-- {{ partial "pricing.html" . }} -->

{{ end }}